body
{
	margin:0;
	padding:0;
}
#background
{
    background-color: brown;
}
#content
{
	border: 1px solid #ffffff;
	width: 768px;
	height:100%;
	margin: 0 auto;
}
#logo img
{
	width: 768px;
	height: 380px;

}
#navigation li
{
	list-style: none;
	display: inline;
	background-color: #55734F;
	padding: 20px;
	margin:-3px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 34px;
	position: relative;
	left: 3px;
}
#topphoto img
{
	top: 20px;
	height:600px;
	width:768px;
}
#about li
{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 50px;
	font-style: italic;
	color:#B6DA62;
	list-style: none;
}
#about
{
	font-size: 28px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: white;
	background-color: #55734F;
	padding: 1px;
	width:768px;
}
#map img
{
	width: 768px;
	height: 515px;
}
#map2
{
	font-size: 28px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
	color: white;
}
#cancun img
{
	width: 768px;
	height:500px;
}
#table li
{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 50px;
	font-weight: 600;
	font-style: italic;
	text-align: center;
	color:azure;
	list-style: none;
	background-color: #55734F;
}
#table img
{
	margin: 3px;
	padding: 3px;
	width: 240px;
	height:240px;
}
#des1 li
{
	list-style: none;
	display:table-cell;
	background-color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 25px;
	padding: 1px;
	margin: 1px;
}
#images2 img
{
	margin: 3px;
	padding: 3px;
	width: 240px;
	height:240px;
}
#des2 li
{
	list-style: none;
	display:table-cell;
	background-color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 25px;
	padding: 1px;
	margin: 1px;
}
#images3 img
{
	margin: 3px;
	padding: 3px;
	width: 240px;
	height:240px;
}
#des3 li
{
	list-style: none;
	display:table-cell;
	background-color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 25px;
	padding: 1px;
	margin: 1px;
}
#images4 img
{
	margin: 3px;
	padding: 3px;
	width: 240px;
	height:240px;
}
#des4 li
{
	list-style: none;
	display:table-cell;
	background-color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 25px;
	padding: 1px;
	margin: 1px;
}
#reviews li
{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 50px;
	font-weight: 600;
	font-style: italic;
	text-align: center;
	color:azure;
	list-style: none;
	background-color: #55734F;
}
#reviews img
{
  width: 768px;
  height:135px;
}
#space
{
	width: 250px;
	height: 250px;
}
#careers
{
	
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 15px;
	color: white;
	background-color: black;
	padding: 30px;

}
#careers p
{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 50px;
	text-align: center;
	color:azure;
	padding: 1px;
}
#careers li
{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 25px;
	font-style: italic;
	text-align: center;
	color:azure;
	list-style: none;
	background-color: #55734F;
	padding: 2px;
}
#footNav 
{
    width: auto;
	height: 85px;
	background-color:#55734F;
	color: aliceblue;
	bottom:-10px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 15px;
	text-align: center;
}
#footer
{
	bottom:-10px;
}